In [3]:
import os, sys, pandas
sys.path.append('/home/clb/AQP')

In [4]:
from utils import *

In [5]:
df = LoadTable('order')

In [6]:
df[:10]

,O_ORDERKEY,O_CUSTKEY,O_ORDERSTATUS,O_TOTALPRICE,O_ORDERDATE,O_ORDERPRIORITY,O_CLERK
0,2,78002,O,46929.18,1996-12-01,1-URGENT,Clerk#000000880
1,3,123314,F,193846.25,1993-10-14,5-LOW,Clerk#000000955
2,4,136777,O,32151.78,1995-10-11,5-LOW,Clerk#000000124
3,5,44485,F,144659.20,1994-07-30,5-LOW,Clerk#000000925
4,6,55624,F,58749.59,1992-02-21,4-NOT SPECIFIED,Clerk#000000058
5,7,39136,O,252004.18,1996-01-10,2-HIGH,Clerk#000000470
6,32,130057,O,208660.75,1995-07-16,2-HIGH,Clerk#000000616
7,33,66958,F,163243.98,1993-10-27,3-MEDIUM,Clerk#000000409
8,34,61001,O,58949.67,1998-07-21,3-MEDIUM,Clerk#000000223
9,35,127588,O,253724.56,1995-10-23,4-NOT SPECIFIED,Clerk#000000259

In [8]:
gb = df.groupby('O_ORDERSTATUS')

In [10]:
list(gb)

[('F',
           O_ORDERKEY  O_CUSTKEY O_ORDERSTATUS  O_TOTALPRICE O_ORDERDATE  \
  1                 3     123314             F     193846.25  1993-10-14
  3                 5      44485             F     144659.20  1994-07-30
  4                 6      55624             F      58749.59  1992-02-21
  7                33      66958             F     163243.98  1993-10-27
  11               37      86116             F     206680.66  1992-06-03
  ...             ...        ...           ...           ...         ...
  1499986     5999940      22351             F      14349.56  1994-08-26
  1499988     5999942     110807             F      32586.85  1994-05-13
  1499990     5999968      12896             F     354575.46  1992-12-24
  1499996     5999974      55448             F      92750.90  1993-07-28
  1499997     5999975     113398             F      63216.65  1993-07-25

           O_ORDERPRIORITY          O_CLERK
  1                  5-LOW  Clerk#000000955
  3                  5-LOW  Clerk#000000925
  4        4-NOT SPECIFIED  Clerk#000000058
  7               3-MEDIUM  Clerk#000000409
  11              3-MEDIUM  Clerk#000000456
  ...                  ...              ...
  1499986           2-HIGH  Clerk#000000243
  1499988  4-NOT SPECIFIED  Clerk#000000454
  1499990         3-MEDIUM  Clerk#000000736
  1499996         3-MEDIUM  Clerk#000000776
  1499997         1-URGENT  Clerk#000000813

  [729413 rows x 7 columns]),
 ('O',
           O_ORDERKEY  O_CUSTKEY O_ORDERSTATUS  O_TOTALPRICE O_ORDERDATE  \
  0                 2      78002             O      46929.18  1996-12-01
  2                 4     136777             O      32151.78  1995-10-11
  5                 7      39136             O     252004.18  1996-01-10
  6                32     130057             O     208660.75  1995-07-16
  8                34      61001             O      58949.67  1998-07-21
  ...             ...        ...           ...           ...         ...
  1499992     5999970     124754             O     192134.85  1995-11-19
  1499993     5999971      30355             O     317382.84  1996-07-18
  1499994     5999972     143594             O     114856.68  1996-05-02
  1499995     5999973      32071             O      68906.56  1997-07-13
  1499998     6000000     110063             O      37625.29  1996-08-31

           O_ORDERPRIORITY          O_CLERK
  0               1-URGENT  Clerk#000000880
  2                  5-LOW  Clerk#000000124
  5                 2-HIGH  Clerk#000000470
  6                 2-HIGH  Clerk#000000616
  8               3-MEDIUM  Clerk#000000223
  ...                  ...              ...
  1499992           2-HIGH  Clerk#000000822
  1499993  4-NOT SPECIFIED  Clerk#000000608
  1499994         3-MEDIUM  Clerk#000000536
  1499995  4-NOT SPECIFIED  Clerk#000000130
  1499998           2-HIGH  Clerk#000000411

  [732043 rows x 7 columns]),
 ('P',
           O_ORDERKEY  O_CUSTKEY O_ORDERSTATUS  O_TOTALPRICE O_ORDERDATE  \
  15               65      16252             P     110643.60  1995-03-18
  51              197      32512             P     163700.57  1995-04-07
  55              225      33031             P     220441.09  1995-05-25
  85              327     144598             P      38488.56  1995-04-17
  104             418      94834             P      53328.48  1995-04-13
  ...             ...        ...           ...           ...         ...
  1499899     5999589     124231             P     217358.94  1995-05-06
  1499902     5999616     141032             P     162471.19  1995-06-03
  1499925     5999687     149176             P     211273.88  1995-06-14
  1499965     5999847      33119             P     136172.27  1995-04-05
  1499969     5999875     124180             P     116370.15  1995-03-17

           O_ORDERPRIORITY          O_CLERK
  15              1-URGENT  Clerk#000000632
  51                2-HIGH  Clerk#000000969
  55              1-URGENT  Clerk#000000177
  85                 5-LOW  Clerk#000000992
  104      4-NOT SPECIFIED  Clerk#000000643
  ...                  ...              ...
  1499899  4-NOT SPECIFIED  Clerk#000000184
  1499902  4-NOT SPECIFIED  Clerk#000000640
  1499925  4-NOT SPECIFIED  Clerk#000000841
  1499965           2-HIGH  Clerk#000000213
  1499969  4-NOT SPECIFIED  Clerk#000000598

  [38543 rows x 7 columns])]